html,
body {
  min-height: 100%;
}

app-root {
  min-height: 100vh;
}

.text-orange {
  color: orange;
}

.text-gold {
  color: gold;
}

#card {
  cursor: pointer;
}

#card:active {
  transform: scale(0.95);
}
