<div
  id="banner"
  class="d-flex flex-column justify-content-center align-items-center w-100 p-5"
>
  <h1>Subscribe for more info</h1>
  <form
    class="w-50 d-flex flex-column flex-md-row justify-content-center align-items-center gap-2"
  >
    <input
      class="col-12 col-md-8 border border-dark rounded-2 p-1"
      type="email"
      name="email"
      id="email"
      placeholder="Enter your email"
      required
    />
    <button class="col-12 col-md-4 btn btn-dark">SUBSCRIBE</button>
  </form>
  <p>Subscribe to retrieve updates and join our list</p>
</div>
