<div class="w-100 px-5">
  <nav class="navbar navbar-expand-md">
    <img id="logo" src="../../../assets/logo.png" alt="logo" />

    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <div
        class="w-100 d-flex flex-column flex-md-row justify-content-end align-items-end align-items-md-center gap-3"
      >
        <ul
          class="navbar-nav d-flex justify-content-between align-items-center gap-3"
        >
          <li class="nav-item">
            <a class="nav-link active" routerLink="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog/activate"> Activate Blog </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
