<div
  class="w-100 d-flex flex-column flex-md-row justify-content-center align-items-start gap-3"
  [ngClass]="{'bg-success': isInCart,}"
>
  <img
    src="https://placehold.co/400x600"
    alt="product"
    class="col-12 col-md-6"
  />

  <div
    *ngIf="product"
    id="text"
    class="col-12 col-md-6 d-flex flex-column justify-content-between align-items-start"
  >
    <div class="w-100 d-flex justify-content-between align-items-start">
      <h1>
        {{ product.name }}
      </h1>
      <i
        class="fa-heart fa-2x"
        [ngClass]="{
          'fa-solid text-danger': product.favorite,
          'fa-regular': !product.favorite
        }"
        (click)="toggleFavorite()"
      ></i>
    </div>
    <app-stars [product]="product"></app-stars>
    <hr />
    <h2>$ {{ product.price }}</h2>
    <p>{{ product.description }}</p>
    <div id="buttons" class="d-flex flex-column gap-2">
      <button class="btn btn-danger" (click)="deleteProduct()">Delete</button>
      <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
    </div>
  </div>
</div>
